.clearfix:after {
	content:" ";
	display:block;
	clear:both;
}

/*ヘッダー*/
header{
	height:30px;
	background-color:#001F64;
	color:#DDD;
}
header p{
	margin-left:320px;
	line-height:30px;
}

/*大枠*/
.wapper{
	margin:5px auto;
	width:95%;
	background-color:#DDD;
}

/*プレイヤーごとの領域*/
div.player{
	float:left;
	box-sizing:border-box;
	padding:6px;
	width:200px;
	min-height:500px;
	background-color:#AAA;
	font-size:15px;
}
div.playerDistinction{
	margin-bottom:2px;
	font-size:17px;
}
div.playerName{
	margin-bottom:5px;
}
div.nowChoosing{
}
div.hint{
}

/*パネルの領域*/
div.panelWapper{
	float:left;
	margin:0 15px;
}
td img{
	width:100px;
	height:75px;
	margin:2px;
}
.message{
	padding:10px;
	background-color:#AAA;
	border-radius:5px;
}
.getPannel img{
	width:80px;
	height:50px;
	margin:2px;
}

/*フッター*/
footer{
	height:30px;
	background-color:#001F64;
	color:#DDD;
}
footer p{
	line-height:30px;
}