/*ヘッダー*/
header{
	height:30px;
	background-color:#001F64;
	color:#DDD;
}
header p{
}
header img{/*ゲームのロゴ(小)を入れる予定*/
}

/*大枠*/
div.wapper{
}

/*勝敗*/
div.rank{
	
}

/*獲得したパネル*/
div.getPanel{
}
li.getList{
}
li.getList img{
}
li.getList p{
}

/**/